<div class = "category_head">
<a href= "<%= categories_path %>">
<i class="fa-solid fa-arrow-left"></i></a>
<h2> My transaction</h2>
<a href = "/logout">
<i class="fa-solid fa-right-from-bracket"></i>
</a>
</div>

<div>
<% if @payments.nil? %>
 <p>No transaction available for now.</p>
 <% else %>
 <% @payments.each do |payment| %>
 <div class = "category" >
   <p><%= payment.name %></p>
   <p>Price: <%= payment.amount %>$ </p>
 </div>
 <% end %>
 <% end %>
 <div class = "footer_container">
 <div class ="footer">
 <%= link_to 'Add New Transaction', new_category_payment_path, class: "footer_link" %>
 <i class="fa-solid fa-plus"></i>
 </div>
 </div>
</div>